In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
plt.style.use('dark_background')

In [47]:
def get_all_month_data():
    """ 
    Returns all months data in pandas DataFrame
    """
    files = [file for file in os.listdir("Sales_data/")]
    all_months_data = pd.DataFrame()
    
    for file in files:
        df = pd.read_csv("Sales_data/"+file)
        all_months_data = pd.concat([all_months_data, df])
    
    return all_months_data

In [58]:
def save_to_csv():
    """
    Take all months data and saves to csv format
    """
    df = get_all_month_data()
    df = df.reset_index()
    df.drop('index', axis=1, inplace=True)
    return df.to_csv("main_data.csv", index=False)

save_to_csv()

In [59]:
df = pd.read_csv("main_data.csv")
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"